
* {
  padding: 0;
  margin: 0;
}

header {
  background: lightpink;
}
/*navbar added and height and widht adjusted*/
.navbar {
  display: flex;
  height: 80px;
  width: 100%;
  justify-content: flex-end;
  justify-content: space-between;
}

.navbar__img {
  display: flex;
  height: 80px;
}
/*Making the logo interactive*/
.navbar__img:hover {
  cursor: pointer;
}

a:link {
  text-decoration: none;
}

.navbar__guide {
  list-style: none;
  margin: 0 0.5rem;
  line-height: 80px;
}

.navbar__btns {
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 1.5rem;
  padding: 6px 13px;
}

.navbar__btns:hover {
  transition: 0.4s;
  background: lightblue;
}

.center__main {
  display: flex;
  justify-content: center;
  color: #b100b5;
  font-family: "Roboto", sans-serif;
  font-size: 5rem;
  font-weight: bold;
  width: 100%;
  text-align: center;
  padding-top: 5rem;
}

main {
  background: url(/Myndir/aðalmynd2.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
}

.center__main2 {
  color: #b100b5;
  font-family: "Roboto", sans-serif;
  font-size: 4rem;
  font-weight: bold;
  width: 100%;
  text-align: center;
  padding-top: 2rem;
}

/*Section container, lost/found pets*/
section {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}
.rescuepets__desc {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

.rescuepets__img {
  height: 20%;
  width: 20%;
  border-radius: 50%;
}

/* centered the buttons and added a little padding*/
.center__buttons {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}

.center__lost {
  height: 50px;
  width: 150px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  color: #b100b5;
  border: 1px solid #b100b5;
  outline: none;
  cursor: pointer;
  border-radius: 25px;
}

.center__list {
  height: 50px;
  width: 150px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  color: #b100b5;
  border: 1px solid #b100b5;
  outline: none;
  cursor: pointer;
  border-radius: 25px;
  margin-left: 1rem;
}

.center__lost:hover {
  background: white;
}

.center__list:hover {
  background: white;
}

/* added a footer and put space between the paragraphswith some basic information*/

footer {
  display: flex;
  background-color: lightpink;
}
footer ul {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  width: 100%;
  height: 2rem;
  font-size: 15px;
  font-weight: bold;
}

 

